.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: grey;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.boxText {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: brown;
}

.image {
  width: 100%;
  height: 100%;
}

.boxImage {
  background-color: blue;
  width: 100%;
  height: 100%;
}
